.nav {
  height: 3.5rem;
  border-bottom: 1px solid transparent;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(8px);
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 1080px;
  margin: auto;

  h1 {
    font-weight: 600;
    flex: 1;
  }
}

.scrolled {
  border-color: rgb(229, 229, 229);
}

.options {
  display: flex;
  gap: 3.5rem;
  align-items: center;
  flex: 3;
  justify-content: center;

  div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--lightBlack);
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    cursor: pointer;
  }

  div:hover {
    text-decoration: underline;
  }
}

.action {
  flex: 1;
  text-align: right;

  button {
    font-weight: 400;
  }
}

.login button {
  color: var(--lightBlack);
  border: 1px solid #e7e8ed;
  background-color: var(--background);
  margin-right: 0.75rem;
}
